.nav-center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
}

.nav-links li {
  padding: 1rem;
  list-style-type: none;
}

.logo {
  width: 3rem;
}

.img-container img {
  width: 6rem;
}
